.speech-stuff {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.output {
  font-size: 30px;
  margin: 5px;
}

h1 {
  font-size: 40px;
}
